@charset "utf-8";
/* CSS Document */
.adu1{height: auto;background-color: orange}
.hang{display: flex;justify-content: center;justify-content: space-between}

.hang1 ul{list-style: none;position: absolute}
.hang1 ul li{float: left;border-right: 1px solid white;position: relative}
.hang1 ul li a{text-decoration: none;color: aliceblue;padding: 0 8px}
.hang1 ul li:hover{background-color: dimgrey;}
.hang1 ul li a:hover{color: black}
.adu2>ul{float: none}

.adu3 ul li{display: none;background-color: chartreuse}
.hang1 ul li:hover.adu3 ul li{display:  block}


.hang2 ul{list-style: none}
.hang2 ul li{float: left;border-right: 1px solid white}
.hang2 ul li a{text-decoration: none;color: aliceblue;padding: 0 8px}
.hang2 ul li:hover{background-color: dimgrey;}
.hang2 ul li a:hover{color: black}

.hanga{display: flex}


.timkiem input{width:739px;height: 40px}

.danhsach{background-color:chartreuse;height: 50;width: 50px}



@media (min-width:768px)
{
	

}
